div#welcome
	h1 Welcome to #{name}.
	div.content
		p.
			#{name} is a game you play with friends wherein you each write a few words to the end of an ever-growing story.
		p.
			The game is simple: Someone creates a new story with a set number of words per turn, usually 3, and a brief synopsis of what the story is (originally) about. The synopsis can be no longer than 20 words. After that, people can join themselves or you can share your URL to people and have them spectate or jump in as an Author!
		p.
			There are no set rules about sticking to the synopsis of a story once begun, and Authors are encouraged to work together,at least a little, to make a story at least somewhat cohesive.
		p.
			Other than that -- Have fun!
	button.dismiss Sounds Good!