doctype html
html(lang="en")
	head
		title!=name
		link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet",href="/css/#{name}.css")
	body
		include ./fragments/welcome.jade
		include ./fragments/topList.jade
		include ./fragments/fullPage.jade
		if INDEV
			script(src="//localhost:9000/livereload.js")
		// Import main JS.
		script(src="/js/#{name}.js")
			