wallpaper = #e8eaf6

fore-color = #424242
back-color = #c5cae9
contrast-color = #283593

body
	color fore-color
	background wallpaper
	margin 0
	padding 0
	
h1
	font-size 1.2em
	text-align center

#welcome
	background back-color
	height 100%
	width 260px
	padding 0 25px
	position fixed
	
.dismiss
	background contrast-color
	border 1px solid fore-color
	bottom 10px
	left 0
	margin auto
	position absolute
	right 0
	width 90%
	color back-color
	font-size: 1.5em
	border-radius: 4px